<div class="container">
  <nav>
    <ul style="align-self: center">
    <li style="color: black"><span style="color: deeppink;">Home</span></li>
    <li style="color: black"><span style="color: deeppink">Taco Menu</span></li>
    <li style="color: black"><span style="color: deeppink">Draft List</span></li>
    <li style="color: black"><span style="color: deeppink">Hours</span></li>
    <li style="color: black"><span style="color: deeppink">Directions</span></li>
    <li style="color: black"><span style="color: deeppink">Contact</span></li>
    </ul>
  </nav>
  <section>
    <p>
      <span><mark>section</mark> 的 <mark>margin-left</mark> 样式确保了有足够的空间容纳 <mark>nav</mark> 元素。</span>
    </p>
  </section>
  <section style="background-color: lightgray">
    <p style="color: rebeccapurple">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </section>
  <section>
    <span>注意观察当你调整浏览器时发生了什么。效果很赞！</span>
  </section>

</div>
