.container {
  position: relative;
  width: 1024px;
  height: 768px;
  background-color: limegreen;
}
.innerbox {
  position: relative;
  width: 400px;
  height: 300px;
  background-color: white;
  top: 35%;
  left:30%;
}
section {
  position: relative;
  top: 60px;
  left: 80px;
}
.user {
  position: relative;
  height: 40px;
  width: 250px;
  background-color: lightgray;
  padding: 5px;
  vertical-align: center;
}
.btn-primary {
  height: 40px;
  padding: 5px;
  vertical-align: center;
}
